
/* MAIN
------------------------------------------------------------*/
html, body{
  font-size: 62.5%;
  height:100%;
}
#wrapper { 
  position: relative; 
  height: 100%;
}

body {
  font-size:1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:none;

}




/* KEYFRAMES
------------------------------------------------------------*/

@include keyframes(splash-fade) {
  0%    { opacity: 0; }
  75%   { opacity: 1; }
  100%  { opacity: 0; }
}

@include keyframes(prolonged-fade-in) {
  0%    { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

