/* @MEDIA
------------------------------------------------------------*/
// @media screen and (max-width: 900px) {
//   // @body overrides specificity
//   body .footer-inner .hr-home { width: 30%; }
// }
// @media screen and (max-width: 400px) {
//   body .footer-inner .hr-home { width: 20%; }
// }
// @media screen and (max-width: 300px) {
//   body .footer-inner .hr-home { display: none; }
// }

#page-title.news-head {
  display:none;
}

.mobile{
  display:none;
}


@media screen and (max-width: 700px) {

}